@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(./assets/fonts/static/PlusJakartaSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(./assets/fonts/static/PlusJakartaSans-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}
*, *::before, *::after{
    box-sizing: border-box;
}
h1,h2{
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
h1, input, .font-color{
    color: #133041;
}
h2{
    color: #fff;
    margin-bottom: 1rem;
}
input[type='text']{
    width: 100%;
    min-width: 140px;
    height: 48px;
    margin-top: 12px;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    border-radius: 4px;
    border: 1px solid #6B94A8;
    font-size: 18px;
    font-weight: 700;
}
input[type="text"]:hover {
    outline: none; 
    border: 2px solid #000;
    cursor: pointer;
}
input[type="text"]:focus {
    outline: none; 
    border: 2px solid #D8DB2F;
    cursor: pointer;
}
.num_input:focus-within::before,
.term_outer:focus-within::after,
.rate_outer:focus-within::after{
    background-color: #D8DB2F;
}
.red_border{
    border: 2px solid red !important;
}
.mt{
    margin-top: 0 !important;
}
p{
    margin: 0;
    line-height: 150%;
}
body{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    background-color: #E4F4FD;
}

main{
    max-width: 375px;
    margin: 0 auto;
    background-color: #fff;
}
.main__section {
    color: #4E6E7E;
    padding: 32px 24px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.clear {
    color: #4E6E7E;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    padding: 3px 0;
    margin-top: 8px;
}
.i_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.input_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.amount{
    padding-left: 59px;
    padding-right: 16px;
}
.num_input{
    position: relative;
}
.num_input::before{
    content: '£';
    position: absolute;
    top: 13px;
    left: 1px;
    background-color: #E4F4FD;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 11px 16px;
    font-weight: bold;
    height: 77%;
}
.num_input.empty::before{
    background-color: #D73328;
    color: #fff;  
    height: 49%;
}
 .err{
    color: #D73328;
    font-size: 14px;
    margin-top: 12px;
    display: none;
 }
 .visib{
    display: block;
 }
.term_outer {
    position: relative;
}
.term_outer::after{
    content: 'year';
    position: absolute;
    top: 13px;
    right: 1px;
    background-color: #E4F4FD;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 11px 16px;
    font-weight: bold;
    height: 77%;
}
.term_outer.empty::after{
    background-color: #D73328;
    color: #fff;  
    height: 49%;
}
.term{
    padding-left: 16px;
    padding-right: 78px;
}
.rate_outer{
    position: relative;
}
.rate_outer::after{
    content: '%';
    position: absolute;
    top: 13px;
    right: 1px;
    background-color: #E4F4FD;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 11px 16px;
    font-weight: bold;
    height: 77%;
}
.rate_outer.empty::after{
    background-color: #D73328;
    color: #fff;  
    height: 49%;
}
.rate {
    padding-left: 16px;
    padding-right: 59px;
}
.main__section-type {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.main__section-type label{
    font-size: 18px;
    font-weight: bold;
}
.type-body {
    width: 100%;
    height: 48px;
    border: 1px solid #6B94A8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
}
input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #4E6E7E;
    margin-left: 1.14rem;
    position: relative;
}
input[type="radio"]:checked{
    border: 2px solid #D8DB2F;
}
input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #D8DB2F;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.calculate {
    width: 100%;
    color: #133041;
    background-color: #D8DB2F;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 1.084rem 2rem 1.084rem 3.375rem;
    position: relative;
}
.calculate::before{
    content: url(./assets/images/icon-calculator.svg);
    width: 20px;
    height: 23px;
    position: absolute;
    top: 15px;
    left: 46px;
}
.result__section {
    padding: 32px 24px;
    background-color: #133041;
}
.result__section p{
    color: #9ABED5;
}
.result_intro {
    text-align: center;
}
.image_calculator {
    margin-bottom: 1rem;
}
.result_content {
    display: none;
}
.result_content-output {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1.5rem 1rem;
    border-top: 4px solid #D8DB2F;
    border-radius: 8px;
    margin-top: 1.5rem;
}
.sum span{
    display: inline-block;
    margin-top: 8px;
}
.month_output {
    font-size: 40px;
    font-weight: bold;
    color: #D8DB2F;
}
.hr{
    border: 0;
    border-top: 1px solid #284150;
    margin: 1rem 0;
}
.total_output {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 376px) {
    
    main{
         max-width: 688px;
         margin: 40px;
         border-radius: 24px;
    }
    .main__section{
        margin: 0;
        padding: 40px;
    }
    .main__section-title {
        display: flex;
        justify-content: space-between;
    }
    .input_flex{
        flex-direction: row;
    }
    .main__section-type{
        margin-bottom: 16px;
    }
    .calculate{
        width: 314px;
        padding: 1.084rem 2.5rem 1.084rem 3.375rem;
    }
    .calculate::before {
       
        left: 38px;
    }
    .result__section{
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        padding: 40px;
    }
    .result_content-output{
        margin-top: 2.5rem;
        padding: 2rem;
    }
    .month_output{
        font-size: 56px;
    }
    .hr{
        margin: 2rem 0;
    }
}

@media (min-width: 769px) {
    main{
        display: flex;
        max-width: 1008px;
        margin: 209px auto;
    }
    .clear:hover{
        cursor: pointer;
    }
    .type-body:hover{
        border: 2px solid #D8DB2F;
        cursor: pointer;
    }
    .main__section-data{
        margin-top: 16px;
    }
    .calculate{
        transition: background-color 0.2s linear;
    }
    .calculate:hover{
        background-color: #ECED97;
        cursor: pointer;
    }
    .result__section{
        border-top-right-radius: 24px;
        border-bottom-left-radius: 90px;
        max-width: 504px;
    }
    .image_calculator{
        margin-top: 112px;
    }
}